.title {
  @apply relative flex flex-col items-center text-center text-6xl font-bold mb-10 pt-20 sm:pt-0 select-none;
}

.title::after {
  content: "";
  @apply absolute bottom-[15px] w-[120%] max-w-[95vw] h-[8px] bg-primary rounded-xl border-2;
}

.central {
  @apply text-primary font-hammersmith;
  text-shadow: 4px 4px 0 black;
}

.nickgabe {
  @apply text-white font-inter relative bottom-5 z-10;
  text-shadow: 4px 4px 0 black;
}

.central, .nickgabe {
  /* Using text shadow because stroke is not great :/ */
  text-shadow:
    -2px -2px 0 #000,
    0px  -2px 0 #000,
    2px  -2px 0 #000,
    2px   0   0 #000,
    2px   2px 0 #000,
    0px   2px 0 #000,
    -2px  2px 0 #000,
    -2px  0   0 #000,
    4px   4px 0 #000;
}