@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

.ant-pagination :is(li, svg) {
  height: 1.4em !important;
  line-height: normal !important;
  display: inline-flex !important;
  align-items: center;
}


.anticon-check-circle {
  @apply text-primary !important;
}

.ant-pagination-item-active {
  @apply bg-transparent border-brightPrimary border-2 !important;
}
.ant-pagination-item-active a {
  @apply text-brightPrimary !important;
}

:is(.ant-pagination-next,.ant-pagination-prev):not([disabled]):is(:hover,:focus) svg {
  @apply text-primary !important;
}

.ant-pagination-disabled {
  opacity: 0.3;
}

:is(.ant-pagination-item,.ant-pagination-jump-next,.ant-pagination-jump-prev) a {
  margin: auto;
  font-size: 0.6em;
  display: inline-block !important;
  width: 100%;
}

:is(.ant-pagination-item,.ant-pagination-jump-next,.ant-pagination-jump-prev) {
  font-weight: bold;
  @apply w-11 sm:w-12 !important;
}

:is(.ant-pagination-jump-next,.ant-pagination-jump-prev):is(:hover,:focus) .anticon {
  @apply text-2xl relative !important;
}

.ant-pagination-item:not(.ant-pagination-item-active):is(:hover,:focus) {
  @apply bg-brightPurple !important;
}

.ant-pagination-item-container {
  top: 2px;
  color: inherit;
}

:is(.ant-pagination-prev,.ant-pagination-next):not(.ant-pagination-disabled):is(:hover,:focus),
.ant-pagination-item:not(.ant-pagination-item-active):is(:hover,:focus) a,
.ant-pagination-item-container .anticon {
  @apply text-white !important;
}

.ant-pagination-item:not(.ant-pagination-item-active) a,
.ant-pagination-item-ellipsis {
  @apply text-white text-opacity-60 !important;
}

.solidShadow {
  /* Using text shadow because stroke is not great :/ */
  text-shadow: -2px -2px 0 #000, 0px -2px 0 #000, 2px -2px 0 #000, 2px 0 0 #000,
    2px 2px 0 #000, 0px 2px 0 #000, -2px 2px 0 #000, -2px 0 0 #000,
    4px 4px 0 #000;
}
