.container:is(:hover, :focus) {
  @apply border-primary shadow-solidPrimary shadow-primary translate-x-[-5px] translate-y-[-5px] outline-none;
}

.container:is(:hover, :focus) .description {
  @apply max-h-[100px] mb-1;
}

.content::before {
  content: '';
  background-image: linear-gradient(
    to top,
    black 10%,
    rgba(0, 0, 0, 0.7) 40%,
    transparent 70%
  );
  @apply absolute top-0 left-0 w-full h-full z-[-1];
}

.description {
  transition: ease 0.5s max-height, ease 0.5s margin;
  @apply max-h-0 m-0;
}
